html, body{
    background-color: aquamarine;
    margin: 0;
}


#welcome-section{
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0;
}

nav {
    margin: 0;
    width: 100%;
    position: fixed;
}
@media only screen and (min-width: 700px)
{
nav {
    margin: 0;
    width: 100%;
    position: fixed;
}
}